.box {
    position: relative;
    width: 900px;
    height: 700px;
    margin: 0 auto;
    border: 2px solid;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    top: calc(100% - 70px);
    left: 0;
    border-radius: 50px;
    background: url("soccer-ball.png") center no-repeat;
    background-size: contain;
    transition: transform ease 4s;
}

#ball:checked + label {
    transform: translateX(828px) rotate(360deg);
}