@font-face {
	font-family: fontello;
	src: url("font/fontello.woff");
}

body {
	margin: 3em;
}

span {
	font-family: fontello;
	font-size: 5em;
 }

.like__switch [type="checkbox"] {
	display: none;
}

.like__switch--icon-heart {
	display: none;
}

.like__switch--icon-heart-empty {
	color: #808080;
}

label:hover .like__switch--icon-heart-empty {
	color: #0000FF;
	cursor: pointer;
}

.like__switch--check:checked ~ .like__switch--icon-heart-empty {
	display: none;
}

.like__switch--check:checked ~ .like__switch--icon-heart {
	display: inline-block;
	color: rgba(255, 0, 0, 1);
}
label:hover .like__switch--check:checked ~ .like__switch--icon-heart {
	color: rgba(255, 0, 0, .7);
	cursor: pointer;
}
